<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
    <body>

      <!-- Page Content-->
            <div class="container px-5 my-5" th:fragment="resume">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="https://drive.google.com/file/d/1gi9CvnpbhugQDXWP3S7W0NL0HyQ-7ldK/view?usp=drivesdk"target="_blank" rel="noopener noreferrer">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Feb - May 2024</div>
                                                <div class="small fw-bolder">Java Backend Developer Intern</div>
                                                <div class="small text-muted">Digi Chum Infotech LLP</div>
                                                <div class="small text-muted">Indore, MadhyaPradesh</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Digichum Infotech LLP is a very early-stage startup Worked autonomously and led backend
                                            service development using Java and Spring Boot. Applied innovative solutions to ensure robust
                                            and scalable server-side operations, aligned with client needs and profitability goals. Proactively
                                            collaborated with teams to meet technical and commercial objectives.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <!--<div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                                <div class="small fw-bolder">SEM Specialist</div>
                                                <div class="small text-muted">Wayne Enterprises</div>
                                                <div class="small text-muted">Gotham City, NY</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                                    </div>
                                </div>
                            </div>-->
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022 - 2024</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Shri Vaishnav Vidyapeeth Vishwavidyalaya</div>
                                                    <div class="small text-muted">Indore, MadhyaPradesh</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master's Of Computer Application</div>
<!--                                                    <div class="small text-muted">Web Development</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>During my MCA, I specialized in software development and backend engineering. My coursework included advanced topics like Java programming, database management, software engineering, and web development. I developed multiple projects, including web applications using Spring Boot and Hibernate, and gained hands-on experience through internships, where I worked on backend services, REST APIs, and database operations.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2019 - 2022</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Shri Vaishnav Vidyapeeth Vishwavidyalaya</div>
                                                    <div class="small text-muted">Indore,MadhyaPradesh</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor Of Computer Application</div>
                                                    <!--<div class="small text-muted">Computer Science</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>In my BCA, I built a solid foundation in computer science fundamentals, including object-oriented programming, data structures, and algorithms. I learned the basics of web development, databases, and programming languages like Java, SQL, and Python. This degree laid the groundwork for my advanced studies and sparked my interest in backend development and creating practical, real-world solutions.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java Development</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Boot</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Hibernate</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">RESTful APIs</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Database Management</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Problem Solving</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
    </body>
</html>
